/* palette */
:root{
    --primary--dark: #2C3E50;
    --primary-light: #3B546D;
    --secondary: #1ABC9C;
    --secondary-dark: rgb(19, 175, 144);
}

/* generals */
img{
    width: 100%;
}

button,
a{
    cursor: pointer;
}

/* removing default bbotstrap outline */
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active{
    outline:0px !important;
    box-shadow: none !important;
}

.btn_color_primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--secondary);
    --bs-btn-border-color: var(--secondary);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--secondary-dark);
    --bs-btn-hover-border-color: var(--secondary-dark);
    --bs-btn-focus-shadow-rgb: var(--secondary);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--secondary-dark);
    --bs-btn-active-border-color:var(--secondary-dark);
}

/* utilities */
.bg_primary_dark{
    background-color: var(--primary--dark);
}

.bg_primary_light{
    background-color: var(--primary-light);
}

.bg_secondary{
    background-color: var(--secondary);
}

/* custom style */
.navbar-brand,
.nav-link,
.first_section h1,
.second_section h2,
.third_section h2,
.fourth_section h2{
    text-transform: uppercase;
    font-weight: 600;
}

a.nav-link:hover{
    color: var(--secondary) !important;
}

.first_section img{
    width: 150px;
}

.sep_line{
    height: 3px;
    width: 13%;
    display: inline-block;
}

.first_section p{
    text-transform: uppercase;
}

.social-item::before{
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
}

.form-control:focus{
    border-bottom: 1px solid var(--secondary) !important;
}

.ms_link{
    color: var(--secondary)
}

.ms_link:hover{
    color: var(--secondary-dark)
}